{% extends 'main/base.html'%}
{%block title%}
Сторінка про нас
{%endblock%}
{%block content%}
    <div class="bs-docs-section">
        <div class="row">
            <div class="bs-component">
              <h1>Виготовлення виробів із каменю.</h1>
              <h2>Гранітні пам'ятники та інші вироби</h2>
              <p class="lead">Майстерня з обробки граніту "Granko" вже більше десяти років займається обробкою каменю.
                 Починаючи з невеликого виробництва ваз, куль, балясини, колон, закономірно розширюючи номенклатуру
                 продукції, почала займатися виробництвом пам'ятників з граніту. Тепер майстерня приймає роздрібні та
                 оптові замовлення на пам'ятники. Основною діяльністю є виготовлення пам'ятників із граніту, а також
                 їхнє художнє оформлення.</p>
              <h2>Гранітні пам'ятники та інші вироби</h2>
              <p class="lead">Ми виготовляємо широкий асортимент виробів.</p>
              <p class="lead">Наші вироби:<br/>
                  - бруківка колота, колото -пиляна;<br/>
                  - плитка гранітна облицювальна;<br/>
                  - гранітні бордюри; <br/>
                  - гранітні підвіконня;<br />
                  - столи;<br />
                  - пам'ятники прямі, фігурні; <br />
                  - вази; <br />
                  - кулі; <br />
                  - балясини; <br />
                  - фонтани (плаваюча куля) <br />
                  - і інші вироби з каменю. </p>
            </div>
        </div>
    </div>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Головна</a></li>
  <li class="breadcrumb-item active">Про нас</li>
</ol>


{%endblock%}


