{% extends 'main/base.html'%}
{%block title%}
Каталог пам'ятників
{%endblock%}
{%block content%}
    <div class="bs-docs-section">
        <div class="row">
            <div class="bs-component">
            <h1>Каталоги пам'ятників</h1>
                <h2> Гранітні пам'ятники від виробника</h2>
                    <p class="lead">Пропонуємо пам'ятники з граніту, габро, лабрадориту, гранітну плитку, гранітні стільниці, гранітні сходи. У нашому каталозі представлені пам'ятники стандартних розмірів для оптового продажу пам'ятників. Простий пам'ятник з рельєфами та написами також є в нашому магазині. Найпопулярнішою формою простого пам'ятника є надгробок з хвилею. Ми можемо виготовити багато інших видів пам'ятників, таких як: пам'ятники на одну людину та на двох; прикрашена хвилею; півколом, різні барельєфи на замовлення.</p>
                    <p class="lead">Замовити гранітні вироби можна в роздріб або гуртом. Замовлені у нас гранітні вироби за погодженням з клієнтом доставляємо послугами перевізника або власним транспортом. Тут має значення вага готового виробу, т.к. невеликий пам'ятник вигідніше транспортувати послугами логістичної компанії.</p>
                    <p class="lead">Ціни на наші гранітні вироби не містять додаткових накруток, визначаються вартістю граніту та витратами на обробку каменю. У нас можна замовити пам'ятник по фотографії з інтернету або за індивідуальним ескізом. Ми невеликий виробник пам'ятників, ми не робимо десятки-сотні пам'ятників на місяць, тому ми можемо приділити увагу кожній деталі нашого виробу, дотриматися якості нашої продукції.</p>
                <h2>Стандартний пам'ятник з граніту з портретом</h2>
                    <p class="lead">Опис:<br/>
                    У вартість входить<br/>
                    - граніт,<br/>
                    - технічні роботи,<br/>
                    - художнє оформлення (портрет, написи)</p>

                <h3>Ціна на простий пам'ятник із граніту з портретом</h3>
                    <p><img src="static/images/katalog_pamyatnikov/odinarnue/odinarnue_standart.jpg" alt="" width="185" height="275" /></p>
                    <p class="lead">Ціна:</p>
                    <table style="width: 400px;">
                    <tbody>
                    <tr>
                    <td style="width: 125px;" rowspan="2"><span style="font-size: 12pt;"><strong>Деталь</strong></span></td>
                    <td style="width: 12px;"><span style="font-size: 12pt;"><strong>Комплект 1</strong></span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;"><strong>Комплект 2</strong></span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;"><strong>Комплект 3</strong></span></td>
                    </tr>
                    <tr>
                    <td style="width: 166px;" colspan="3"><span style="font-size: 12pt;">Розміри</span></td>
                    </tr>
                    <tr>
                    <td style="width: 125px;"><span style="font-size: 12pt;">Стелла</span></td>
                    <td style="width: 12px;"><span style="font-size: 12pt;"><strong>100х50х5</strong></span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;"><strong>100х50х8</strong></span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;"><strong>120х60х8</strong></span></td>
                    </tr>
                    <tr>
                    <td style="width: 125px;"><span style="font-size: 12pt;">Постамент</span></td>
                    <td style="width: 12px;"><span style="font-size: 12pt;">60х20х15</span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;">60х20х15</span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;">70х20х15</span></td>
                    </tr>
                    <tr>
                    <td style="width: 125px;"><span style="font-size: 12pt;">Квітник</span></td>
                    <td style="width: 12px;"><span style="font-size: 12pt;">100х10х5х60</span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;">100х10х8х60</span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;">120х10х8х70</span></td>
                    </tr>
                    <tr>
                    <td style="width: 125px;"><span style="font-size: 12pt;">Габбро місцевий</span></td>
                    <td style="width: 12px;"><span style="font-size: 12pt;"><strong>7000 UAH</strong></span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;"><strong>8000 UAH</strong></span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;"><strong>10000 UAH</strong></span></td>
                    </tr>
                    <tr>
                    <td style="width: 125px;"><span style="font-size: 12pt;">Габбро букінський</span></td>
                    <td style="width: 12px;"><span style="font-size: 12pt;"><strong>10000 UAH</strong></span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;"><strong>13000 UAH</strong></span></td>
                    <td style="width: 77px;"><span style="font-size: 12pt;"><strong>16000 UAH</strong></span></td>
                    </tr>
                    </tbody>
                    </table>`

            </div>
        </div>
    </div>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Головна</a></li>
  <li class="breadcrumb-item active">Каталог</li>
</ol>


{%endblock%}
