{% extends 'main/base.html'%}
{%block title%}
Будівельні конструкції з граніту
{%endblock%}
{%block content%}
    <div class="bs-docs-section">
        <div class="row">
            <div class="bs-component">
                <h1>Балясини, перила, підвіконня, вази, вазони з граніту</h1>
                <h2>Гранітна плитка (облицювальна плитка)</h2>
                <p class="lead">Ми пропонуємо широкий асортимент стандартної <em>гранітної плитки</em>
                    (600х400, 600х300, 400х400, 300х300 товщина 20 та 30 мм) виготовляємо гранітні плити спеціальних
                    (нестандартних) розмірів на замовлення. У нас є <strong>плитка гранітна облицювальна </strong>
                    стандартних розмірів. Також виготовляємо
                    <strong>плитку гранітну</strong> нестандартних розмірів максимально стислі терміни.<br />
                    Ми пропонуємо такі види обробки поверхонь плитки гранітної. Залежно від сфери застосування
                    <strong>гранітна плитка</strong> буває:<br />
                    - полірована <em>плитка гранітна</em> – гладка поверхня з дзеркальним блиском і чітким відображенням
                    предметів, для зовнішнього оздоблення фасадів, оздоблення всередині приміщень, облицювання пам'ятників
                    з граніту ;<br />
                    - пиляна <strong>плитка гранітна</strong> – нерівномірно-шорстка поверхня з нерівностями рельєфу, з
                    виявленим кольором та малюнком каменю - мощення дворів, вулиць;<br />
                    - <strong>термооброблена гранітна плитка</strong> – шорстка поверхня зі слідами лущення, що отримується
                    під впливом високої температури - облицювання вхідних груп, сходовий маршів.<br />
                <h2>Кам'яні балясини - балясини з граніту</h2>
                <p class="lead">Балясини з мармуру, балясини з граніту служать прекрасною прикрасою сходових маршів, балконів, терас,
                а також використовуються і всередині приміщень, що надає інтер'єру вишуканість і неповторність.
                Кам'яні балясини вражають уяву невимовним природним малюнком і багатством колірних рішень. Балясини з
                граніту неперевершені за міцністю та досконалістю матеріалу. Різноманітність форм та відтінків допоможе
                Вам у створенні оригінального дизайну. Балясини з мармуру та граніту мають високу міцність, стійкі до
                перепадів температур і не втрачають своїх естетичних властивостей внаслідок зовнішніх впливів.
                Наші фахівці можуть виготовити балясини з граніту, або балясини з мармуру будь-яких форм за Вашими
                    ескізами з будь-якого запропонованого природного каменю.</p>
                <h2> Перила з каменю, граніту</h2>
                <p class="lead">Перила з каменю, граніту служать невід'ємною частиною всієї архітектурної композиції і чудово доповнюють
                створюваний образ. Поруччя з граніту, завдяки величезній палітрі каменю, прикрасять сходи з граніту та
                принесуть неповторність та шарм. Поруччя з граніту, мають безперечну перевагу за міцністю і
                довговічністю. Завдяки фізичним властивостям натурального каменю ці вироби гарантовано збережуть свій
                первісний вигляд навіть в умовах високої прохідності. Можливо виготовлення за ескізами замовника з
                    будь-якого натурального каменю. </p>
                <h2>Вази та вазони з граніту</h2>
                <p class="lead">Вази та вазони з натурального каменю протягом багатьох століть прикрашають садиби, інтер'єри
                    будинків, використовуються в садових та паркових композиціях. Гранітні вази ідеально вписуються як у
                    класичний стиль, так і гармонійні в сучасних стилістичних проектах. Завдяки можливості виготовлення
                    різної форми, неповторності природного малюнка – кожен виріб стає унікальним. Ми пропонуємо
                    стандартні вироби різних форм і кольорів та виконаємо вази за індивідуальними кресленнями.</p>
                <h2>Фонтани «Плаваюча куля»</h2>
                <p class="lead">Фонтан «Плаваюча куля» - один з оригінальних видів фонтанів, в якому використовується
                    природна властивість стискання води. Дана назва ще не стала загальновживаною, хоча і
                    використовується найчастіше. Існують й інші назви: фонтан «Куляча куля», фонтан «Куля»,
                    Плаваючий фонтан, Плаваюча куля. У фонтані використовується властивість стискання води. Це означає,
                    що якщо між кулею та її ложем (модулем) закачати під тиском воду, то куля спливе і триматиметься на водній подушці,
                    що утворилася. Але для цього необхідне точне притирання кулі до модуля. При цьому зусиль рук людини
                    достатньо, щоб розкрутити кулю в будь-якому напрямку. У багатьох випадках, особливо якщо куля
                    встановлюється на площах і вулицях міст, на її поверхню наносяться малюнки, серед яких переважають
                    схематичні зображення материків та океанів. В якості матеріалу для виготовлення кулі
                    використовуються різні поліровані міцні гірські породи або мінерали (можуть бути і штучного
                    походження), але найчастіше граніт або мармур. </p>
                <h2>Гранітні підвіконня</h2>
                <p class="lead">Гранітні підвіконня підкреслюють індивідуальність, шляхетність інтер'єру та створюють атмосферу
                    затишку та комфорту в приміщенні. Наявність великої палітри кольорів дає можливість вибору матеріалу
                    під будь-яке дизайнерське рішення Вашого приміщення. Підвіконня з натурального каменю мають високу
                    міцність, не вимагають спеціального догляду і прослужать. Вам протягом десятків років. Неповторність
                    природного малюнка, надійність, довговічність роблять граніт незамінним матеріалом під час
                    виготовлення підвіконь. Фахівці нашої компанії допоможуть правильно підібрати необхідне підвіконня
                    або виготовити підвіконня із граніту на замовлення.</p>
                <h2>Стільниці</h2>
                  <p class="lead">Гранітні стільниці міцні та неповторні своїм зовнішнім виглядом. За стільницею із граніту не
                     потрібно спеціального догляду, вона не дряпається, не зіпсується від пролитої води чи високої
                     температури. Стільниці з каменю прослужать Вам багато років. Природний малюнок, зносостійкість
                     роблять граніт відмінним матеріалом при виготовленні стільниць.</p>
                  <p></p>
                  <h3>Наші роботи</h3>
                  <p><img style="display: block; margin-left: auto; margin-right: auto;" src="static/images/stoleshnica/stoleshnica_v_vannuju.jpg" alt="стільниця граніт у ванну" width="525" height="394" /> </p>
                  <p><img style="display: block; margin-left: auto; margin-right: auto;" src="static/images/stoleshnica/stoleshnica_ostrov.jpg" alt="стільниця граніт на кухню острів " width="525" height="394" /> </p>
                  <p><img style="display: block; margin-left: auto; margin-right: auto;" src="static/images/stoleshnica/stoleshnica_ostrov_iz_granita.jpg" alt="стільниця граніт на кухню острів " width="525" height="394" /> </p>
                  <p><img style="display: block; margin-left: auto; margin-right: auto;" src="static/images/stoleshnica/stoleshnica_dlja_kuhni.jpg" alt="стільниця граніт на кухню " width="525" height="394" /> </p>
                  <h3>Види фігурної фаски</h3>
                  <table border="0" width="100%" cellpadding="0">
                  <tbody>
                  <tr>
                  <td style="width: 130px;"><img src="static/images/pod/pod_01.gif" alt="підвіконня 1" width="118" height="82" /></td>
                  <td style="width: 130px;"><img src="static/images/pod/pod_02.gif" alt="підвіконня 2" width="118" height="82" /></td>
                  <td style="width: 130px;"><img src="static/images/pod/pod_03.gif" alt="підвіконня 3" width="118" height="82" /></td>
                  <td style="width: 131px;"><img src="static/images/pod/pod_04.gif" alt="підвіконня 4" width="118" height="82" /></td>
                  <td style="width: 131px;"><img src="static/images/pod/pod_05.gif" alt="підвіконня 5" width="118" height="82" /></td>
                  </tr>
                  <tr>
                  <td style="width: 130px;"><img src="static/images/pod/pod_06.gif" alt="підвіконня 6" width="118" height="82" /></td>
                  <td style="width: 130px;"><img src="static/images/pod/pod_07.gif" alt="підвіконня 7" width="118" height="82" /></td>
                  <td style="width: 130px;"><img src="static/images/pod/pod_08.gif" alt="підвіконня 8" width="118" height="82" /></td>
                  <td style="width: 131px;"><img src="static/images/pod/pod_09.gif" alt="підвіконня 9" width="118" height="82" /></td>
                  <td style="width: 131px;"><img src="static/images/pod/pod_12.gif" alt="підвіконня 12" width="118" height="82" /></td>
                  </tr>
                  </tbody>
                  </table>
            </div>
        </div>
    </div>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Головна</a></li>
  <li class="breadcrumb-item active">Граніт на будівницві</li>
</ol>

{%endblock%}