{% extends 'main/base.html'%}
{%block title%}Пам'ятники із граніту, вироби із граніту. Замовити та купити гранітні пам'ятники ціни у м. Коростишів - granko.com.ua{%endblock%}
{%block content%}
    <div class="bs-docs-section">
        <div class="row">
            <div class="bs-component">
                    <h1>Чому замовити пам'ятник у нас?</h1>
                <h2>Ціни виробника</h2>
                <p class="lead">Ми виготовляємо пам'ятники у гранітній майстерні<em> м. Коростишів Житомирської області.</em> Тут уже багато років
                    розвивається камнеобробна промисловість, тут як ніде є величезний вибір габро та граніту. Ціни на продукцію у
                    м. Коростишів в порівнянні з іншими містами є найбільш доступними, оскільки це ціни виробника.</p>
                <h2>Дизайн</h2>
                <p class="lead">У нас можна <em>купити пам'ятник із граніту</em> за фотографією або малюнком ескізу,
                    а також вибрати виріб з каталогу гранітних пам'ятників.</p>
                <h2>Художнє оформлення</h2>
                <p class="lead">В оформленні пам'яток ми застосовуємо різні
                    методи: ручне гравіювання, гравіювання верстатами, піскоструминне гравіювання, фарбування художніми акриловими
                    фарбами, врізання фотокераміки.</p>
                <h2>Виготовлення у строк</h2>
                <p class="lead">Ми у найкоротший термін виготовляємо
                    пам'ятники з граніту стандартної форми та складні меморіальні комплекси.</p>
                <h2>Доставка та встановлення</h2>
                <p class="lead">Доставка пам'ятників по Україні послугами
                    перевізників (Нова Пошта, Делівері). Вартість пам'ятника з граніту з доставкою з м. Коростишів у ваше місто навіть з
                    урахуванням ціни на доставку буде нижчою від вартості пам'ятника у вашому місті. Коли пам'ятник є складним,
                    складається з багатьох гранітних виробів, ми можемо зробити доставку пам'ятника з установкою.</p>
            </div>
        </div>
    </div>
{%endblock%}


