{% extends 'main/base.html'%}
{%block title%}
Види граніту
{%endblock%}
{%block content%}
    <div class="bs-docs-section">
        <div class="row">
            <div class="bs-component">
                <h1>Види граніту</h1>
                <table border="0" width="80%" cellspacing="0" cellpadding="0" align="center">
            <tbody>
            <tr>
            <td colspan="3" bgcolor="#FFFFFF" height="25">
            <div align="center">Габбро Быстриивское месторождение</div>
            </td>
            </tr>
            <tr>
            <td rowspan="3" bgcolor="#FFFFFF" width="208" height="200"><img src="static/images/obrazcu_kamna/bustrievskoe.jpg" alt="" width="200" height="200" /></td>
            <td bgcolor="#DCDCDC" width="340" height="25">
            <div align="center">Физико-механические свойства</div>
            </td>
            <td bgcolor="#DCDCDC" width="232">
            <div align="center">Минеральный состав</div>
            </td>
            </tr>
            <tr>
            <td bgcolor="#EFEFEF" height="145"><span class="стиль4">Объемный вес, кг/м3 2820-2950<br /> Водопоглощение, % 0,12<br /> Прочность на сжатие, МПа 241-262<br /> Прочность на изгибе, МПа -<br /> Истираемость, г/см2 0,51-0,59 </span></td>
            <td bgcolor="#EFEFEF"><span class="стиль4">Плагиоклаз 15-83<br /> Пироксен 12-40<br /> Оливин 0-15<br /> Кварц 0-2<br /> Биотит 0-3<br /> Другие 0-14</span></td>
            </tr>
            <tr>
            <td colspan="2" bgcolor="#EFEFEF" height="30"><span class="стиль4">Примечания<br /> Уровень природной радиации отвечает 1 классу - все виды строительств без ограничений</span></td>
            </tr>
            <tr>
            <td colspan="3" bgcolor="#FFFFFF" height="25">
            <div align="center">Гранит Покостовскоевское месторождение</div>
            </td>
            </tr>
            <tr>
            <td rowspan="3" bgcolor="#FFFFFF" height="200"><img src="static/images/obrazcu_kamna/pokostovskoe.jpg" alt="" width="200" height="200" /></td>
            <td bgcolor="#DCDCDC" height="25">
            <div align="center">Физико-механические свойства</div>
            </td>
            <td bgcolor="#DCDCDC">
            <div align="center">Минеральный состав</div>
            </td>
            </tr>
            <tr>
            <td bgcolor="#EFEFEF" height="145"><span class="стиль4">Объемный вес: 2740 кг/м3<br /> Водопоглощение: 0,31%<br /> Прочность на сжатие: 220 МПа<br /> Истираемость: 0,64 г/см2 </span></td>
            <td bgcolor="#EFEFEF"><span class="стиль4">Микроклин: 15—30%<br /> Плагиоклаз: 35—55%<br /> Кварц: 10—15%<br /> Биотит: 5—15%<br /> Другие: 1%</span></td>
            </tr>
            <tr>
            <td colspan="2" bgcolor="#EFEFEF" height="30"><span class="стиль4">Примечания<br /> Уровень природной радиации отвечает 1 классу - все виды строительств без ограничений</span></td>
            </tr>
            <tr>
            <td width="208"> </td>
            <td> </td>
            <td> </td>
            </tr>
            <tr>
            <td colspan="3" bgcolor="#FFFFFF" height="25">
            <div align="center">Гранит Дидковичское месторождение</div>
            </td>
            </tr>
            <tr>
            <td rowspan="3" bgcolor="#FFFFFF" height="200"><img src="static/images/obrazcu_kamna/didkovuchskoe.jpg" alt="" width="200" height="200" /></td>
            <td bgcolor="#DCDCDC" height="25">
            <div align="center">Физико-механические свойства</div>
            </td>
            <td bgcolor="#DCDCDC">
            <div align="center">Минеральный состав</div>
            </td>
            </tr>
            <tr>
            <td bgcolor="#EFEFEF" height="145"><span class="стиль4">Объемный вес: 2675 кг/м3<br /> Водопоглощение: 0,24%<br /> Прочность на сжатие: 350 МПа<br /> Прочность на изгибе: 35 МПа<br /> Истираемость: 0,3 г/см </span></td>
            <td bgcolor="#EFEFEF"><span class="стиль4">Микроклин: 58%<br /> Кварц: 20%<br /> Плагиоклаз: 15%<br /> Биотит: 5%<br /> Другие: 2%</span></td>
            </tr>
            <tr>
            <td colspan="2" bgcolor="#EFEFEF" height="30">Примечания<br /> Уровень природной радиации отвечает 1 классу - все виды строительств без ограничений</td>
            </tr>
            <tr>
            <td colspan="3" bgcolor="#FFFFFF" height="25">
            <div align="center"><span class="стиль6">Гранит Капустянское месторождение</span></div>
            </td>
            </tr>
            <tr>
            <td rowspan="3" bgcolor="#FFFFFF" height="200"><span class="стиль4"><img src="static/images/obrazcu_kamna/kapustanskoe.jpg" alt="" width="200" height="200" /></span></td>
            <td bgcolor="#DCDCDC" height="25">
            <div align="center">Физико-механические свойства</div>
            </td>
            <td bgcolor="#DCDCDC">
            <div align="center">Минеральный состав</div>
            </td>
            </tr>
            <tr>
            <td bgcolor="#EFEFEF" height="145"><span class="стиль4">Объемный вес: 2700 кг/м3<br /> Водопоглощение: 0,22%<br /> Прочность на сжатие: 200 МПа<br /> Прочность на изгибе: 8 МПа<br /> Истираемость: 0,48 г/см2 </span></td>
            <td bgcolor="#EFEFEF"><span class="стиль4">Микроклин: 50%<br /> Плагиоклаз: 24%<br /> Кварц: 18%<br /> Биотит: 1%<br /> Другие: 1%</span></td>
            </tr>
            <tr>
            <td colspan="2" bgcolor="#EFEFEF" height="30"><span class="стиль4">Примечания<br /> Уровень природной радиации отвечает 1 классу - все виды строительств без ограничений</span></td>
            </tr>
            <tr>
            <td colspan="3" bgcolor="#FFFFFF" height="25">
            <div class="стиль6" align="center"><span class="стиль7">Гранит Лезниковское месторождение</span></div>
            </td>
            </tr>
            <tr>
            <td rowspan="3" bgcolor="#FFFFFF" height="200"><span class="стиль4"><img src="static/images/obrazcu_kamna/leznikovskoe.jpg" alt="" width="200" height="200" /></span></td>
            <td bgcolor="#DCDCDC" height="25">
            <div align="center">Физико-механические свойства</div>
            </td>
            <td bgcolor="#DCDCDC">
            <div align="center">Минеральный состав</div>
            </td>
            </tr>
            <tr>
            <td bgcolor="#EFEFEF" height="145"><span class="стиль4">Объемный вес: 2650 кг/м3<br /> Водопоглощение: 0,18%<br /> Прочность на сжатие: 135—260 МПа<br /> Прочность на изгибе: 31 МПа<br /> Истираемость: 0,24 г/см2 </span></td>
            <td bgcolor="#EFEFEF"><span class="стиль4">Микроклин: 80%<br /> Кварц: 15%<br /> Биотит: 5%</span></td>
            </tr>
            <tr>
            <td colspan="2" bgcolor="#EFEFEF" height="30"><span class="стиль4">Примечания<br /> Уровень природной радиации отвечает 1 классу - все виды строительств без ограничений</span></td>
            </tr>
            <tr>
            <td colspan="3" bgcolor="#FFFFFF" height="25">
            <div align="center"><span class="стиль6">Лабрадорит Осныковское месторождение</span></div>
            </td>
            </tr>
            <tr>
            <td rowspan="3" bgcolor="#FFFFFF" height="200"><span class="стиль4"><img src="static/images/obrazcu_kamna/osnukovskoe.jpg" alt="" width="200" height="200" /></span></td>
            <td bgcolor="#DCDCDC" height="25">
            <div align="center">Физико-механические свойства</div>
            </td>
            <td bgcolor="#DCDCDC">
            <div align="center">Минеральный состав</div>
            </td>
            </tr>
            <tr>
            <td bgcolor="#EFEFEF" height="145"><span class="стиль4">Объемный вес: 2815 кг/м3<br /> Водопоглощение: 0,1%<br /> Прочность на сжатие: 40,8—89,7 МПа<br /> Истираемость: 1,5 г/см2</span></td>
            <td bgcolor="#EFEFEF"><span class="стиль4">Плагиоклаз: 70—94%<br /> Пироксен: 15—35%<br /> Оливин: 5—15%<br /> Другие: 0—7%</span></td>
            </tr>
            <tr>
            <td colspan="2" bgcolor="#EFEFEF" height="30"><span class="стиль4">Примечания<br /> Уровень природной радиации отвечает 1 классу - все виды строительств без ограничений</span></td>
            </tr>
            <tr>
            <td colspan="3" bgcolor="#FFFFFF" height="25">
            <div class="стиль6" align="center"><span class="стиль7">Гранит Токовское месторождение</span></div>
            </td>
            </tr>
            <tr>
            <td rowspan="3" bgcolor="#FFFFFF" height="200"><span class="стиль4"><img src="static/images/obrazcu_kamna/tokovskoe.jpg" alt="" width="200" height="200" /></span></td>
            <td bgcolor="#DCDCDC" height="25">
            <div align="center">Физико-механические свойства</div>
            </td>
            <td bgcolor="#DCDCDC">
            <div align="center">Минеральный состав</div>
            </td>
            </tr>
            <tr>
            <td bgcolor="#EFEFEF" height="145"><span class="стиль4">Объемный вес: 2700 кг/м3<br /> Водопоглощение: 0,22%<br /> Прочность на сжатие: 95—217 МПа<br /> Прочность на изгибе: 18 МПа<br /> Истираемость: 0,48 г/см2</span></td>
            <td bgcolor="#EFEFEF"><span class="стиль4">Микроклин: 35%<br /> Плагиоклаз: 35%<br /> Кварц: 25%<br /> Биотит: 4%<br /> Другие: 1%</span></td>
            </tr>
            <tr>
            <td colspan="2" bgcolor="#EFEFEF" height="30"><span class="стиль4">Примечания<br /> Уровень природной радиации отвечает 2 классу — все виды строительств без ограничений</span></td>
            </tr>
            </tbody>
            </table>
            </div>
        </div>
     </div>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Головна</a></li>
  <li class="breadcrumb-item active">Види граніту</li>
</ol>

{%endblock%}
